@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
    --text-size: 2vw;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: poppins, sans-serif;
}

body {
    /* background: linear-gradient(168deg, 10002b 0%, e0aaff  100%); */
    background: #11041c;
    background: radial-gradient(circle, rgba(17, 4, 28, 1) 67%, rgba(49, 1, 69, 1) 100%);

    padding: 0px 10vw;

}

body p {
    font-size: var(--text-size);
}

.line {
    height: 2px;
    width: 50vw;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.386) 100%, red 0%);
}

.divi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 3vw;
    font-size: 24px;
}

.nav {
    height: 10vh;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    padding: 0vh 2vw;
    position: sticky;
    top: 1vh;
    border-radius: 20px;
    backdrop-filter: blur(189px);
    text-decoration: none;
}

.nav a {
    text-decoration: none;
}

.img1 {
    width: 5vw;
}

.img2 {
    width: 3vw;
}

audio {
    height: 0px;
}

header {
    position: sticky;
    top: 0;
}
.intro {
    display: flex;
    overflow: hidden;
    z-index: -1;
}
.intro h3 {
    margin: 3vw;
    /* font-weight: 700px; */
    font-size: 15vh;
}

.intro div imG {
    width: 44vh;
    float: right;
}

/* .intro div p {
    font-size: var(--text-size);
    
} */


.gaming {
    font-size: 3vw;
    text-align: center;
    text-decoration: underline;
}

.gaming img {
    height: 50px;
    width: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: center;
    padding: 10vh;
}

/* .tech {
    font-size: var(--text-size);

} */

.lanBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin: 3vh
}

.lanBox div img {
    padding: 5px;
    border: 2px solid grey;
    height: 16vh;
    border-radius: 30px;
}

.lanBox img:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease 0.1s;

}



